body {
    /* background-color: aqua; */
    /* background-image: url(https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat; */
}

nav {
    background-color: transparent;
}


.container {
    width: 100%;
    height: auto;
}

.backgroundPic{
    width: 100%;
    height: auto;
    background-size: cover;
    position: sticky;
}

.backgroundPic {
    background-image: url(https://media.istockphoto.com/id/1952832315/photo/online-shopping-man-hold-credit-or-debit-card-make-online-purchase.jpg?s=612x612&w=0&k=20&c=1bGkjnW6YJ76d3tF4Wn6-nSh56iORYt7DcbowHtTdRM=);

}

/* .backgroundPic2 {
    background-image: url(https://media.istockphoto.com/id/1542477002/photo/woman-cashier-wears-an-apron-and-using-pos-terminal-to-payment-for-credit-card-on-coffee-shop.jpg?s=612x612&w=0&k=20&c=B2hxzqgE28_FAM7Osok8vGeCIbOaRaELqYNn8MUFLbc=);
} */

.sec1Content{
padding-bottom: 20%;
}


.sec1Content-title {
    margin-top: 170px;
    margin-right: 23px;
    margin-bottom: 15px;
}

.sec1Content-offer {
    margin-top: 15px;
    margin-right: 23px;
}

.btn {
    margin-top: 4%;
}

.sec1content-Products {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}

.sec1cards {
    margin-top: 10px;
}

.lastsec{
/* border: 1px solid; */
/* background-color: purple; */
padding: 10%;
display: flex;
background-color: wheat;
}

.lastsec-storename{
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.lastsec-hd{
    color: black;
    font-size: 25px;
    font-family: serif;
    font-weight: 500;
    margin-top: 10%;
    /* margin-right: 20%; */
}
.lastsec-listing{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    /* background-color: blue; */
}

.List{
    /* background-color: red; */
    /* border: 1px solid; */
    
    
}

h4{
    font-size: 18px;
}

.copywritesec{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.copywritesec-text{
    font-family: 'Courier New', Courier, monospace;
    /* width: 50%; */
    /* height: 10px; */
    display: flex;
    margin: auto;

}